.hamburger div{
    width: 45px; 
    height: 5px; 
    background-color: #011842;
    margin-bottom: 5px;
    border-radius: 5px;
}





@media only screen and (min-width: 900px){

    .hamburger {
        display: none;
    }
}
