
/*
    When decide to put a name change flex end to space inbetween
*/
.mobileHeader{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 10px;
    align-items: center;
}

.desktopHeader{
  display: none;
}


@media only screen and (min-width: 900px){

    .mobileHeader{
        display: none;
    }

    .desktopHeader{
        display: block;
    }

}



